.row{
    margin:"0px";
    padding:"0px";
}
 
footer{
   
    background: #c39ea0;
    color: #fff;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
 
    font-size: 15px;
   
}

.col:nth-child(2) , .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 200px;
    margin-bottom: 30px;
}

.col h3{
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin:  20px 0;
}

ul li{
     list-style: none;
      
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #000;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto; 
}

.copyright{
     text-align: center;
}


.services{
    border-radius: 25px;
    
    height: 250px;
    box-shadow: 10px 10px 10px -41px rgb(255, 5, 172), 10px -10px 26px -5px rgb(195, 158, 160),10px 10px 10px -41px rgb(195, 158, 160) , 0 -10px 26px -5px rgb(195, 158, 160)
}
  